@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: #ffffff;
    --black: #000000;
    --green: #6bd17b;
    --gray: #42445d;
  }
  h1 {
    @apply font-poppins font-medium text-[39px] md:text-[45px] xl:text-[55.1px] leading-[120%];
  }
  h2 {
    @apply font-poppins font-medium text-[18.35px] md:text-[32.75px] lg:text-[36.75px];
  }
  h3 {
    @apply font-roboto font-medium text-[11.67px] md:text-[12.59px] lg:text-[18px];
  }
}

@layer components {
  /* Fonts */
  .inter-light {
    @apply font-inter font-light text-[13.38px] md:text-[19.38px] lg:text-[18.4px];
  }
  .inter-regular-xl {
    @apply font-inter font-normal text-[13.32px] md:text-[18.11px] lg:text-[18.11px];
  }
  .inter-regular-2xl {
    @apply font-inter font-normal text-[15.75px] md:text-[15.75px] lg:text-[15.75px];
  }
  .inter-regular-3xl {
    @apply font-inter font-normal text-[19.08px] md:text-[19.08px] lg:text-[18.11px];
  }
  .roboto-regular {
    @apply font-roboto font-normal text-[12px] md:text-[12px] lg:text-[14px];
  }
  /* Gradient  */
  .gradient-xl {
    @apply bg-gradient-to-r from-[#ddd3ef] from-0% via-[#FDD9FF] via-[42%] to-[#B2E0FE];
  }
  /* Buttons */
  .button-gradient {
    @apply px-[30px] py-[12px] gradient-xl inter-regular-3xl outline outline-[1px] outline-[#00000048] -outline-offset-1 rounded-[4.85px] gradient-xl hover:bg-none capitalize hover:bg-black hover:outline-none;
  }
  .button-black {
    @apply px-[30px] py-[12px] bg-black inter-regular-3xl text-white rounded-[4px] capitalize;
  }
  .button-transparent {
    @apply px-[30px] py-[12px] bg-white inter-regular-3xl text-black rounded-[4px] capitalize;
  }
}

@layer utilities {
  .transition-width {
    transition-property: width;
    transition-timing-function: ease;
    transition-duration: 500ms;
  }
}
